@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@layer base {

  span,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 24px;
  }
}

body,
html {
  margin: 0;
  font-family: "IRANSans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
